.test {
  background-color: teal;
  color: #fff !important;
}
.clo{
  background-color: hsl(216, 43%, 17%);
  height: 30vh

}

 
.layer{
  background-color: #1abc9ce6;
  opacity: 0;
  cursor: pointer;
  transition: .6s opacity;
}
a{
  color: white;
}
.cloo{
  height: 10vh
}
a{
  color: white !important;
}
.ma{
  background-color:hsl(216, 43%, 17%);


}
.ll{
  background-color: aqua;
  color: white;
  height: 70vh;
  width: 100%;
  
}
.bb{
  margin: auto;
}
.font{
  font-size: 40px;
}
.test{
  background-color: teal;
  color: white !important;
}
.hh{
  width: 300px;
  height: 300px;
}